* {
  -webkit-tap-highlight-color : rgba(0, 0, 0, 0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
  -webkit-touch-callout    : none; /* prevent callout to copy image, etc when tap to hold */
  -webkit-text-size-adjust : none; /* prevent webkit from resizing text to fit */
  -webkit-user-select      : none; /* prevent copy paste, to allow, change 'none' to 'text' */
}

/* stack all grids below 40em (640px) */
@media all and (max-width : 700px) {
  .my-breakpoint .ui-block-a,
  .my-breakpoint .ui-block-b,
  .my-breakpoint .ui-block-c,
  .my-breakpoint .ui-block-d,
  .my-breakpoint .ui-block-e {
    width : 100%;
    float : none;
  }
}

#sign-in-form-container {
  max-width : 30em;
  margin    : 0 auto;
}

#table-column-toggle tr:nth-child(even) { background-color : #ededed; }

.ui-input-text {
  border : solid 1px !important;
}

.table-of-nums td {
  text-align: right;
}

.table-of-nums th {
  text-align: left;
}
